.userTable{
    width:60%;
    background-color: white;
    box-shadow:1px 1px 8px rgba(13, 145, 30, 0.562);
    border-radius: 5px;
    margin:50px auto;
    padding: 50px;
}
.addButton{
    text-decoration: none;
    background-color:#14b43e ;
    color: #fff;
    font-weight:500;
    box-shadow: 0px 0px 0px 0px rgb(0, 0, 0);
    border-radius:10px ;
    padding:10px;
}

.userTable table{

    width:100%;
    margin-top : 30px ;
    border-collapse: collapse;

}

.userTable table thead  th{
    background-color: yellowgreen;
    color:bla;
    padding:10px;
}

.userTable table tbody td{

    padding:10px;
    text-align:center;

}

.actionButton button{

    border: 0 ;
    outline: none ;
    background: red;
    padding: 8px 10px ;
    color:white ; 
    border-radius: 6px;
    cursor:pointer;



}
.actionButton a{

    
    background: #008000;
    padding: 6px 10px ;
    color:white ; 
    border-radius: 5px;
    margin:0 10px;
    text-decoration: none;
}